/* Reset some default browser styles */
body,
h1,
h2,
p,
ul,
li,
form,
label {
  margin: 0;
  padding: 0;
}

/* Global Styles */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  line-height: 1.6;
  width: 100%;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Navigation Styles */
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Blog Article Styles */
.blog-article {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px 0;
  background-color: #f9f9f9;
}

.blog-article h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.blog-article p {
  font-size: 1em;
}

.blog-article a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

/* Form Styles */
#admin h2 {
  margin-top: 20px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  display: none;
}

#scrollToTop a {
  text-decoration: none;
  color: #fff;
}

#scrollToTop:hover {
  background-color: #0056b3;
}

/* Media Queries for Responsiveness (customize as needed) */
@media (max-width: 768px) {
  main {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin: 10px 0;
  }
}
